body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a9dad;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    
}

button {
    background-color: #4a9dad;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

p#user-text {
    font-size: 1.2em;
    font-style: italic;
    color: #333;
}
footer{
    background-color: #4a9dad;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#hiddentext{
    font-size: 1.2em;
    /* font-style: italic; */
    color: #333; 
}